[submodule "lib/gps-nmea-parser"]
	path = lib/gps-nmea-parser
	url = https://github.com/particle-iot/gps-nmea-parser.git
[submodule "lib/gps-ublox"]
	path = lib/gps-ublox
	url = https://github.com/particle-iot/gps-ublox.git
[submodule "lib/can-mcp25x"]
	path = lib/can-mcp25x
	url = https://github.com/particle-iot/can-mcp25x.git
[submodule "lib/fw-config-service"]
	path = lib/fw-config-service
	url = https://github.com/particle-iot/fw-config-service.git
[submodule "lib/geofence"]
	path = lib/geofence
	url = https://github.com/particle-iot/geofence.git
